## $Id: project.tmpl 2420 2009-06-24 14:40:21Z lukasz $
#encoding utf-8
#extends project_template.templates.Autotools

#def generated_files
#return (Autotools.generated_files(self)
  | set([
		'm4/acx_pthread.m4',
		'm4/ax_docutils.m4',
        'm4/ax_gperf.m4',
		'm4/ax_drmaa_utils.m4',
		'm4/ax_pbs.m4',
	]))
#end def

#block ac_programs
${Autotools.ac_programs(self)}
\# code generation tools:
AX_GPERF
## AC_CHECK_PROGS([RAGEL], [ragel], [sh m4/missing-dev-prog.sh ragel])

\# reStructuredText processing:
AX_DOCUTILS()
if test x\$RST2HTML = x; then
	RST2HTML="sh m4/missing-dev-prog.sh docutils"
fi
if test x\$RST2LATEX = x; then
	RST2LATEX="sh m4/missing-dev-prog.sh docutils"
fi
#end block ac_programs

#block ac_libraries
#raw
ACX_PTHREAD([CFLAGS="$CFLAGS $PTHREAD_CFLAGS" LIBS="$PTHREAD_LIBS $LIBS"],
		[AC_MSG_ERROR([POSIX threads library is required.])])
#end raw

AX_DRMAA_UTILS([builtin], [:], [AC_MSG_ERROR([
drmaa_utils libraries/headers not found]) ])

AX_PBS([:], [AC_MSG_ERROR([
PBS libraries/headers not found;
add --with-pbs to set PBS installation root.]) ])
#raw
if test ${sysconfdir} == '${prefix}/etc' -a "$prefix" == 'NONE'; then
	sysconfdir='/etc'
	ac_configure_args="${ac_configure_args} --sysconfdir=${sysconfdir}"
fi
CPPFLAGS="${CPPFLAGS} -DCONFDIR=${sysconfdir}"
#end raw
#end block ac_libraries

#block ac_headers
AC_HEADER_STDC
AC_HEADER_TIME
AC_CHECK_HEADERS([stddef.h stdlib.h string.h strings.h sys/time.h unistd.h])
#end block ac_headers

#block ac_types
AC_TYPE_SIZE_T
#end block ac_types
#block ac_structures
AC_STRUCT_TM
#end block ac_structures

#block ac_functions
AC_FUNC_MALLOC
AC_FUNC_STRFTIME
AC_FUNC_VPRINTF
AC_CHECK_FUNCS([ \
	asprintf \
	fstat \
	getcwd \
	gettimeofday \
	localtime_r \
	memset \
	mkstemp \
	setenv \
	strcasecmp \
	strchr \
	strdup \
	strerror \
	strlcpy \
	strndup \
	strstr \
	strtol \
	vasprintf \
	])
#end block ac_functions

#block ac_config_files
AC_CONFIG_FILES([
	Makefile
	pbs_drmaa/Makefile
	doc/Makefile
])
AC_CONFIG_HEADERS([config.h])
AC_CONFIG_SUBDIRS([drmaa_utils])
#end block ac_config_files


#block top_makefile_am
${makefile_am_header}
${top_makefile_am_specific}
SUBDIRS = drmaa_utils pbs_drmaa doc
#end block top_makefile_am

